@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.backHomeLink {
  font-size: 1.4em;
  margin: 15px;
}

.layoutContainer {
  margin: 0 30px;
  @include breakpoint-md {
    display: flex;
  }
}

.zettLeftSidebar {
  max-width: 100%;
  @include breakpoint-md {
    min-width: 20%;
  }
}

.zettMainContainer {
  max-width: 100%;
  @include breakpoint-md {
    min-width: 60%;
  }
}

.zettBacklinks {
  max-width: 100%;
  @include breakpoint-md {
    min-width: 20%;
  }
}
