@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.layoutContainer {
  display: flex;
  margin: 0 30px;
}

.wikiLeftSidebar {
  flex-grow: 1;
}

.wikiMainContainer {
  flex-grow: 2;
}

.wikiBacklinks {
  flex-grow: 1;
}
