@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.title {
  margin: 5px 0;
}

.subtitleItem {
  color: $color-gray;
  font-size: 16px;
}

.modifiedDate {
  margin-bottom: 14px;
}
